<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>账户明细</title>
</head>
<link rel="stylesheet" href="../../PublicCss/reset.css" />
<link rel="stylesheet" href="../../Statics/Personal/Account.css" />
<script type="text/javascript" src="../../PublicJS/resizerem.js"></script>
<script type="text/javascript" src="../../StaticsJS/Personal/index.js"></script>

<body>
    <header>账户明细
        <a href="index.html"></a>
    </header>
    <section>
        <div>
            <h3>充值</h3>
            <h2>＋&yen;10000.00</h2>
        </div>
        <p>
            <!-- <span>备注：张三</span> -->
            <b>2017-01-02</b>
        </p>
    </section>
   <section>
        <div>
            <h3>从收益转入</h3>
            <h2>＋&yen;10000.00</h2>
        </div>
        <p>
            <!-- <span>备注：张三</span> -->
            <b>2017-01-02</b>
        </p>
    </section>
    <section>
        <div>
            <h3>支付工程订单</h3>
            <h2>－&yen;10000.00</h2>
        </div>
        <p>
            <span>备注：北京市丰台区XX乡XX村XX街道XX号备注：北京市丰台区XX乡XX村XX街道XX号</span>
            <b>2017-01-02</b>
        </p>
    </section>
    <section>
        <div>
            <h3>支付加盟金</h3>
            <h2>－&yen;10000.00</h2>
        </div>
        <p>
            <!-- <span>备注：张三</span> -->
            <b>2017-01-02</b>
        </p>
    </section>
</body>
</html>
