<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>代理商信息</title>
</head>
<link rel="stylesheet" href="../../PublicCss/reset.css" />
<link rel="stylesheet" href="../../Statics/Personal/Agent.css" />
<script type="text/javascript" src="../../PublicJS/resizerem.js"></script>

<body>
    <header>代理商信息
        <a href="index.html"></a>
    </header>
    <section>
        <div>
            <span>编码</span>
            <p>111</p>
        </div>
        <div>
            <span>姓名</span>
            <p>张三</p>
        </div>
        <div>
            <span>电话</span>
            <p>18311033800</p>
        </div>
        <div>
            <span>身份证号</span>
            <p>210＊＊＊＊＊＊＊＊＊＊＊＊321</p>
        </div>
    </section>
    <section>
        <div>
            <span>微信号</span>
            <p>xigumenchuang</p>
        </div>
        <div>
            <span>店铺名称</span>
            <p>喜谷门窗</p>
        </div>
        <div>
            <span>企业名称</span>
            <p>喜谷门窗</p>
        </div>
        <div>
            <span>营业执照号</span>
            <p>123123131213</p>
        </div>
        <div>
            <span>邮箱</span>
            <p>123123131@163.com</p>
        </div>
    </section>
    <section>
        <div>
            <span>代理级别</span>
            <p>区县</p>
        </div>
        <div>
            <span>实体店位置</span>
            <p>北京市丰台区XX乡XX村XX街XX号北京市丰台区XX乡XX村XX街XX号</p>
        </div>
    </section>
</body>

</html>
