<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>收益明细</title>
</head>
<link rel="stylesheet" href="../../PublicCss/reset.css" />
<link rel="stylesheet" href="../../Statics/Personal/Profit.css" />
<script type="text/javascript" src="../../PublicJS/resizerem.js"></script>
<script type="text/javascript" src="../../PublicJS/layer_mobile/layer.js"></script>
<script type="text/javascript" src="../../StaticsJS/Personal/index.js"></script>

<body>
    <header>收益明细
        <a href="index.html"></a>
    </header>
     <section>
        <div>
            <h3>充值到账户</h3>
            <h2>－&yen;10000.00</h2>
        </div>
        <p>
            <!-- <span>备注：张三</span> -->
            <b>2017-01-02</b>
        </p>
    </section>
   <section>
        <div>
            <h3>提现到银行卡失败</h3>
            <h2>＋&yen;10000.00</h2>
        </div>
        <p>
            <!-- <span>备注：张三</span> -->
            <b>2017-01-02</b>
        </p>
    </section>
    <section>
        <div>
            <h3>获得收益</h3>
            <h2>＋&yen;10000.00</h2>
        </div>
        <p>
            <span>备注：张三</span>
            <b>2017-01-02</b>
        </p>
    </section>
    <section>
        <div>
            <h3>提现到银行卡</h3>
            <h2>－&yen;10000.00</h2>
        </div>
        <p>
            <!-- <span>备注：张三</span> -->
            <b>2017-01-02</b>
        </p>
    </section>
</body>

</html>
