<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>完善个人信息</title>
</head>
<link rel="stylesheet" href="../../PublicCss/reset.css" />
<link rel="stylesheet" href="../../Statics/Regprocess/GerenInfo.css" />
<script type="text/javascript" src="../../PublicJS/layer_mobile/layer.js"></script>
<script type="text/javascript" src="../../PublicJS/resizerem.js"></script>

<body>
    <header>完善个人信息<a href="ZhuceInfo.html"></a></header>
    <section>
        <div><span>姓名</span>
            <input placeholder="请输入姓名" type="text" />
        </div>
        <div><span>推荐人编号</span>
            <input placeholder="11111" type="text" />
        </div>
        <div><span>联系电话</span>
            <input placeholder="请输入联系电话" type="text" />
        </div>
        <div><span>身份证号</span>
            <input placeholder="请输入身份证号码" type="text" />
        </div>
    </section>
    <a href="javascript:" name="firstA">保存</a>
</body>

</html>
