<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<title>世界型材</title>
	</head>
	<link rel="stylesheet" href="../../PublicCss/reset.css" />
	<link rel="stylesheet" href="../../Statics/Regprocess/Login.css" />
	<script type="text/javascript" src="../../PublicJS/resizerem.js" ></script>
	<body>
		<header>世界型材</header>
		<section>
			<div><span>用户名</span><input placeholder="请输入用户名" type="text" /></div>
			<div><span>密码</span><input placeholder="请输入密码" type="text" /></div>
			<div class="yz"><span>验证码</span><input placeholder="请输入验证码" type="text" /><img src="http://shianyun-oss.oss-cn-beijing.aliyuncs.com/statics/HZSQ/Statics/Index/images/chuangke.png"/></div>
		</section>
		<a href="javascript:" name="firstA">登录</a>
		<a href="Register.html">新用户注册</a>
	</body>
</html>

