<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>完善企业信息</title>
</head>
<link rel="stylesheet" href="../../PublicCss/reset.css" />
<link rel="stylesheet" href="../../Statics/Regprocess/QiyeInfo.css" />
<script type="text/javascript" src="../../PublicJS/layer_mobile/layer.js"></script>
<script type="text/javascript" src="../../PublicJS/resizerem.js"></script>

<body>
    <header>完善企业信息<a href="ZhuceInfo.html"></a></header>
    <section>
        <div><span>微信号</span>
            <input placeholder="请输入微信号" type="text" />
        </div>
        <div><span>店铺名称</span>
            <input placeholder="请输入店铺名称" type="text" />
        </div>
        <div><span>企业名称</span>
            <input placeholder="请输入企业名称" type="text" />
        </div>
        <div><span>营业执照号</span>
            <input placeholder="请输入营业执照号" type="text" />
        </div>
        <div><span>邮箱</span>
            <input placeholder="请输入邮箱" type="text" />
        </div>
        
    </section>
    <a href="javascript:" name="firstA">保存</a>
</body>

</html>
