<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>完善银行信息</title>
</head>
<link rel="stylesheet" href="../../PublicCss/reset.css" />
<link rel="stylesheet" href="../../Statics/Regprocess/YinhangInfo.css" />
<script type="text/javascript" src="../../PublicJS/resizerem.js"></script>

<body>
    <header>完善银行信息<a href="ZhuceInfo.html"></a></header>
    <section>
        <div><span>银行</span>
            <input placeholder="请选择银行" type="text" />
        </div>
        <div><span>支行</span>
            <input placeholder="请输入支行名称" type="text" />
        </div>
        <div><span>银行卡号</span>
            <input placeholder="请输入银行卡号" type="text" />
        </div>
        <div><span>持卡人</span>
            <input placeholder="请输入持卡人" type="text" />
        </div> 
    </section>
    <a href="javascript:" name="firstA">保存</a>
</body>

</html>
