<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>完善注册信息</title>
</head>
<link rel="stylesheet" href="../../PublicCss/reset.css" />
<link rel="stylesheet" href="../../Statics/Regprocess/ZhuceInfo.css" />
<script type="text/javascript" src="../../PublicJS/layer_mobile/layer.js"></script>
<script type="text/javascript" src="../../PublicJS/resizerem.js"></script>

<body>
    <header>完善注册信息</header>
    <section>
        <div>
            <h3>个人信息</h3>
            <a href="GerenInfo.html">请完善您的个人信息</a>
            <p><span>姓名</span><b>张三</b></p>
            <p><span>推荐人编号</span><b>111111</b></p>
            <p><span>联系电话</span><b>13691411270</b></p>
            <p><span>身份证号</span><b>21080219930113451</b></p>
        </div>
        <div>
            <h3>企业信息</h3>
            <a href="QiyeInfo.html">请完善您的企业信息</a>
            <p><span>微信号</span><b>xigumenchuang</b></p>
            <p><span>店铺名称</span><b>喜谷门窗</b></p>
            <p><span>企业名称</span><b>喜谷门窗</b></p>
            <p><span>营业执照号</span><b>123123123123123</b></p>
            <p><span>邮箱</span><b>123123@163.com</b></p>
        </div>
        <div>
            <h3>银行信息</h3>
            <a href="YinhangInfo.html">请完善您的银行信息</a>
            <p><span>银行</span><b>中国建设银行</b></p>
            <p><span>支行</span><b>北京支行</b></p>
            <p><span>银行卡号</span><b>6227560500017103370</b></p>
            <p><span>持卡人</span><b>张三</b></p>
        </div>
        <div>
            <h3>代理和实体店信息</h3>
            <a href="ShitidianInfo.html">请完善您的代理和实体店信息</a>
            <p><span>代理级别</span><b>区县</b></p>
            <p><span>实体店</span><b>北京市丰台区xxx乡xxx村xxx街xxx号</b></p>
        </div>
    </section>
    <div class='Account'>
		<h3>账户余额</h3>
		<b class='Recharge'><em></em>充值</b>
		<span class='Refresh'><em></em>刷新</span>
		<p>￥0.00</p>
		
		
    </div>
    <div class='BankInfo'>
        <p><span>银行</span><b>中国建设银行</b></p>
        <p><span>分行</span><b>江西省南昌市安逸格林郡支行</b></p>
        <p><span>卡号</span><b>6217  0020  2003  0747  943</b></p>
        <p><span>持卡人</span><b>郭芬</b></p>
    </div>
    <a href="javascript:" name="firstA">支付加盟金¥1000.00</a>
    <a href="javascript:">退出</a>
</body>

</html>
