<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>世界型材</title>
</head>
<link rel="stylesheet" href="../../PublicCss/reset.css" />
<link rel="stylesheet" href="../../Statics/Engineering/Engineering.css" />
<script type="text/javascript" src="../../PublicJS/resizerem.js"></script>

<body>
    <header>世界型材
        <a href="NewProject.html"></a>
        <a href="index.html"></a>
    </header>
    <!--暂无工程-->
    <div class='NoEngineering'></div>
    <!-- 工程列表 -->
    <article onclick="window.location.href ='ProjectDetails.html'">
        <div>
        	<span>工程地址</span>
            <p>北京市丰台区花XXXX乡镇XX村XX街道XX号</p>
        </div>
        <div>
        	<span>工程面积</span>
            <p>100m2</p>
        </div>
        <div>
            <span>支付状态</span>
            <p>
            	<b>已支付</b>
            </p>
        </div>
    </article>
    <article>
        <div>
            <span>工程地址</span>
            <p>北京市丰台区花XXXX乡镇XX村XX街道XX号</p>
        </div>
        <div>
            <span>工程面积</span>
            <p>100m2</p>
        </div>
        <div>
            <span>支付状态</span>
            <p>
                <b class='Nopay'>未支付</b>
                <a href="javascript:">删除工程</a>
            </p>
        </div>
    </article>
</body>

</html>
