<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>请填写工程地址</title>
</head>
<link rel="stylesheet" href="../../PublicCss/reset.css" />

<link rel="stylesheet" href="../../Statics/Engineering/ProjectAddress.css" />
<script type="text/javascript" src="../../PublicJS/layer_mobile/layer.js"></script>
<script type="text/javascript" src="../../PublicJS/resizerem.js"></script>

<body>
    <header>请填写工程地址<a href="NewProject.html"></a></header>
    <section>
        <div><span>省</span>
            <input placeholder="" readonly='readonly' value='江西省' type="text" />
        </div>
        <div><span>市</span>
            <input placeholder="请输入市" readonly='readonly' value='南昌市' type="text" />
        </div>
        <div><span>区县</span>
            <input placeholder="请选择区县" readonly='readonly' type="text" />
        </div>
        <div><span>乡镇</span>
            <input placeholder="请选择乡镇" readonly='readonly' type="text" />
        </div>
        <div><span>村</span>
            <input placeholder="请选择村" readonly='readonly' type="text" />
        </div>
         <div><span>地址</span>
            <input placeholder="请输入详细地址" type="text" />
        </div>
        
    </section>
    <a href="javascript:" name="firstA">保存</a>
</body>

</html>
