<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>工程详情</title>
</head>
<link rel="stylesheet" href="../../PublicCss/reset.css" />
<link rel="stylesheet" href="../../Statics/Engineering/ProjectDetails.css" />
<script type="text/javascript" src="../../PublicJS/layer_mobile/layer.js"></script>
<script type="text/javascript" src="../../PublicJS/resizerem.js"></script>

<body>
    <header>工程详情
        <a href="index.html"></a>
    </header>
    <article>
        <div>
            <span>工程地址</span>
            <p>北京市丰台区花XXXX乡镇XX村XX街道XX号</p>
        </div>
        <div>
            <span>联系人姓名</span>
            <p>张三</p>
        </div>
        <div>
            <span>联系人电话</span>
            <p>13691411270</p>
        </div>
        <div>
            <span>邮编</span>
            <p>100000</p>
        </div>
        <div>
            <span>工程面积</span>
            <p>100m2</p>
        </div>
        <div>
            <span>订单金额</span>
            <p>￥1000.00</p>
        </div>
        <div>
            <span>支付状态</span>
            <p><b class='light'>已支付</b></p>
        </div>
    </article>
    <!-- 请上传工程信息的相关图片 -->
    <div class='UploadPic'>
        <h3>请上传工程信息的相关图片</h3>
        <div>
            <!-- <figure>
                <em></em>
                <img src="../../Statics/Engineering/images/pic.png" alt="pic" title="" />
            </figure>
             <figure>
              <em></em>
                <img src="../../Statics/Engineering/images/pic.png" alt="pic" title="" />
            </figure>
            <figure>
             <em></em>
                <img src="../../Statics/Engineering/images/pic.png" alt="pic" title="" />
            </figure>
             <figure>
              <em></em>
                <img src="../../Statics/Engineering/images/pic.png" alt="pic" title="" />
            </figure> -->
            <figure>
                <img src="../../Statics/Engineering/images/project_add.png" alt="pic" title="" />
            </figure>
        </div>
        <a href="javascript:" name="firstA">保存</a>
    </div>
</body>

</html>
